- classname = message.classname_for_user(current_user)
%div{class: "message_box #{classname}", id: "message_#{message.id}"}
  .message_box_names_and_actions
    .message_box_names
      %h5
        From: 
        = message.sender.name
        %br
        To: 
        = message.recipient.name
    .message_box_actions
      - if message.sender == current_user
        = button_to "Reply", reply_message_path(message), method: :get
      - else
        = button_to "Reply", reply_message_path(message), method: :get
      = button_to "Delete", delete_message_path(message), method: :post  
  .message_box_subject_and_content
    %h6
      .message_field_header.text_highlight
        Subject
      = message.subject
      .message_field_header.text_highlight
        Content
      = message.content
