%p
  = @recipient.first_name + ','

%p
  = @sender.name + ' sent you a message.'

.message{style: "margin: 0 20px"}
  %p{style: "font-weight: bold"}
    = @subject
  %p{style: "font-style: italic"}
    = @content

%p
  Click 
  = link_to "here", "http://www.trellisd.com" + messages_path(anchor: "message_#{@message_id}")
  to reply.

%p
  Cheers,
%p
  = image_tag attachments['trellisd_email_image.png'].url, alt: 'trellisd'
