%p
  = @connectee.first_name + ','

%p
  = @connecter.name + ' wants to connect, lucky you.'

%p
  Click
  = link_to "here", "http://www.trellisd.com" + user_path(@connecter)
  to check out
  = @connecter.first_name + "'s"
  profile and to accept (or reject) this request. Remember: connections power trellisd!

%p
  Cheers,
%p
  = image_tag attachments.inline['trellisd_email_image.png'].url, alt: 'trellisd'