%p
  = @user.first_name + ','

%p
  Your posts have some new buddies:
- @posts.each do |post|
  .post{style: "margin: 0 20px 10px 20px"}
    %p{style: "font-weight: bold"}
      = link_to post.title, post_url(post)
    %ul{style: "list-style: none"}
      - post.new_matches.each do |match|
        %li{style: "line-height: 1.5"}
          = link_to match.matching.try(:title), post_url(match.matching)
          = "(#{match.keyword_coverage}%)"

%p
  Cheers,
%p
  = image_tag attachments['trellisd_email_image.png'].url, alt: 'trellisd'
