%p
  = @recipient.first_name + ','

%p
  = @sender.name + ' sent you a message.'

.message{style: "margin: 0 20px"}
  %p{style: "font-weight: bold"}
    = @subject
  %p{style: "font-style: italic"}
    = simple_format @content

%p
  Click 
  = link_to "here", "http://www.trellisd.com" + messages_path(anchor: "message_#{@message_id}")
  to reply.
%p
  REPLYING TO THIS EMAIL WILL NOT SEND A REPLY TO
  = @sender.first_name.upcase + '.'

= render 'trellisd_signature'
