.user_profile
  = form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h3
          = @assignment.errors.full_messages.join(", ").downcase.capitalize
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
    = f.label :image
    = f.file_field(:image, accept: 'image/jpg, image/jpeg image/gif, image/png')
    = f.label :bio
    %em
      No more than 240 characters.
    = f.text_field :bio
    = f.label :city
    %em
      Location information used for geolocating your posts. Your postcode will not be displayed to other users.
    = f.text_field :city
    = f.label :postcode
    = f.text_field :postcode
    = f.submit
%br
