- classname = classname_for_post_box(post)
%div{class: "post_box #{classname}"}
  .post_box_image
    = image_tag post.user.image.url(:thumb)
  .post_box_content
    = link_to post_user_name(post), user_path(post.user_id)
    = link_to truncate(post.title, length: 45, separator: ' '), user_post_path(post.user_id, post)
  .post_box_icons
    = display_category_icon(post, '60px')
    / = display_attachment_icon(post)
    - if displaying_in_posts_controller?
      = display_keyword_coverage_if_a_match(match)