.profile.user_profile
  .user_image
    = image_tag @user.image.url(:normal)
  .user_info
    %h2.name_highlight
      = show_user_name(@user)
    %h4.text_highlight
      = @user.try(:city)
    %h5.text_highlight
      = @user.try(:bio)
    .user_flag_button
      = button_to "Flag", user_flag_path(@user), method: :put
= render @posts