.profile.user_profile
  .user_image
    = image_tag @user.image.url
  .user_info
    %h2.name_highlight
      = show_user_name(@user)
    %h4.text_highlight
      = @user.try(:city)
    %h5.text_highlight
      = @user.try(:bio)
    .user_show_buttons
      = display_connection_buttons(@user)
      = display_flag_button(@user)
= render @posts