= link_to render('all_posts_icon'), posts_path
- size = '100px'
= link_to render(partial: 'icon_partials/activity', locals: {size: size}), posts_category_path(:activity)
= link_to render(partial: 'icon_partials/collab', locals: {size: size}), posts_category_path(:collab)
= link_to render(partial: 'icon_partials/housing', locals: {size: size}), posts_category_path(:housing)
= link_to render(partial: 'icon_partials/knowledge', locals: {size: size}), posts_category_path(:knowledge)
= link_to render(partial: 'icon_partials/pdq', locals: {size: size}), posts_category_path(:pdq)
= link_to render(partial: 'icon_partials/stuff', locals: {size: size}), posts_category_path(:stuff)
= link_to render(partial: 'icon_partials/travel', locals: {size: size}), posts_category_path(:travel)
= link_to render(partial: 'icon_partials/work', locals: {size: size}), posts_category_path(:work)