= link_to render('all_posts_icon'), posts_path
- size = '100px'
= link_to render(partial: 'icon_partials/activity', locals: {size: size}), title: 'Activity'
= link_to render(partial: 'icon_partials/collab', locals: {size: size}), title: 'Collab'
= link_to render(partial: 'icon_partials/housing', locals: {size: size}), title: 'Housing'
= link_to render(partial: 'icon_partials/knowledge', locals: {size: size}), title: 'Knowledge'
= link_to render(partial: 'icon_partials/pdq', locals: {size: size}), title: 'PDQ'
= link_to render(partial: 'icon_partials/stuff', locals: {size: size}), title: 'Stuff'
= link_to render(partial: 'icon_partials/travel', locals: {size: size}), title: 'Travel'
= link_to render(partial: 'icon_partials/work', locals: {size: size}), title: 'Work'