= form_for @post do |f|
  - if @post.errors.any?
    .errors
      = @post.errors.full_messages.join(', ').downcase.capitalize
  = f.label :category
  = f.collection_select :category_id, Category.all, :id, :display_title
  = f.label :directionality
  %em
    Directionality currently only affects matching for housing, stuff and work posts.
    %br
    If posting that you are looking for housing, stuff or work (including freelancing), that is a 
    %span.text_highlight seeking 
    post. If posting that you have housing, stuff or work available, that is an 
    %span.text_highlight offering 
    post.
  %br
  %br
  = f.select :directionality, [:seeking, :offering]
  = f.label :title
  = f.text_field :title
  = f.label 'Expiration (max 3 months)'
  = f.text_field :expiration
  = f.label :content
  = f.text_area :content, rows: '10'
  / = f.label 'Image (jpg, jpeg, gif or png)'
  / = f.file_field(:image, accept: 'image/jpg, image/jpeg image/gif, image/png')
  = label_tag 'keywords'
  %em
    Enter a minimum of 3, a maximum of 10, separated by commas.
  = display_text_field_with_keywords_if_any(@post)
  = f.submit
%br
= button_to 'Cancel', :back, method: :get
%br
