.pagination
  = paginate posts, remote: true
  = page_entries_info posts
%br
- posts.each do |post|
  .posts_index_post_box_container
    %div{class: "posts_index_post_box #{classname_for_post_box(post)}"}
      .posts_index_post_box_content
        %h6
          %em
            = display_directionality_if_directionality_cateogry(post)
        %h5
          = truncate post.title, length: 45, separator: ' '
        %h6
          = display_matches_count_if_current_user_post(post)
          %em
            %div{class: expiration_class_for_post_box(post)}
              = expiration_message(post)
        %br
        %h6.text_highlight
          = truncate post.list_keyword_titles, length: 80, separator: '|'
      .posts_index_extras
        .posts_index_post_box_icons
          = display_category_icon(post, '60px')
          / = display_attachment_icon(post)
        .posts_index_post_box_buttons
          = button_to "View", post_path(post), method: :get
.pagination
  = paginate posts