- content_for :dynamic_fb_meta do
  %meta{property: 'og:type', content: 'trellisd:post'}
  %meta{property: 'og:url', content: display_path_with_protocol_and_host(post_path(@post))}
  %meta{property: 'og:title', content: @post.directionality.capitalize + ': ' + truncate(@post.title, length: 60, separator: ' ')}
  %meta{property: 'og:description', content: truncate(@post.content, length: 150, separator: ' ')}
.show_post.normal_post
  .show_post_headline
    .show_post_category
      = display_category_icon(@post, '100px')
    .show_post_title
      %h2
        = @post.title
  .show_post_user
    %h6.directionality
      = @post.directionality.capitalize 
    %h5
      = display_post_user_name(@user)
      %br
      = display_matches_count_if_current_user_post(@post)
    %h6.expiration{class: expiration_class_for_post_box(@post)}
      = expiration_message(@post)
    .social_media_button
      .fb-share-button{"data-href" => "http://trellisd.herokuapp.com" + post_path(@post), "data-type" => "button"}
    .social_media_button
      %a{"href" => "https://twitter.com/share", "class" => "twitter-share-button", "data-via" => "trellisdapp", "data-count" => "none", "data-text" => @post.directionality.capitalize + ': ' + truncate(@post.title, length: 50, separator: ' ')} Tweet
    %h6
      %br
      = display_message_button_if_user_not_current_user(@user, @post)
  .show_post_content
    %h5
      = simple_format @post.content
  .show_post_keywords
    %h6.text_highlight
      = @post.list_keyword_titles
  .show_post_buttons
    = display_edit_if_current_user_post(@user, @post)
    = display_delete_if_current_user_post(@user, @post)
    / .fb-share-button{"data-href" => "http://trellisd.herokuapp.com" + post_path(@post), "data-type" => "button"}
    %br
    = display_flag_if_not_current_user_post(@user, @post)
- if current_user_and_matches?(@post)
  - @post.matches.each do |match|
    = display_match(match)