.show_post.normal
  .show_post_headline
    .show_post_category
      = display_category_icon(@post, '100px')
    .show_post_title
      %h2
        = @post.title
  .show_post_user
    %h6
      %em
        = display_directionality_if_directionality_cateogry(@post)
    %h5
      = display_post_user_name(@user)
      %br
      = display_matches_count_if_current_user_post(@post)
    %h6
      %em
        %div{class: expiration_class_for_post_box(@post)}
          = expiration_message(@post)
    %h6
      %br
      = display_message_button_if_user_not_current_user(@user, @post)
  .show_post_content
    %h5
      = @post.content
  .show_post_keywords
    %h6.text_highlight
      = @post.list_keyword_titles
  .show_post_buttons
    = display_edit_if_current_user_post(@user, @post)
    = display_delete_if_current_user_post(@user, @post)
    = display_flag_if_not_current_user_post(@user, @post)
- if current_user_and_matches?(@post)
  - @post.matches.each do |match|
    = display_match(match)