%footer.footer-2
  %ul
    %li
      = link_to 'About', "#"
    %li
      = link_to 'Trends', "#"
    %li
      = link_to 'Contact', "#"
  .footer-secondary-links
    %ul
      %li
        = link_to 'Terms and Conditions', "#"
      %li
        = link_to 'Privacy Policy', "#"
    
