%footer.footer-2
  %ul
    %li
      = link_to 'About', home_path
    %li
      = link_to 'Trends', home_path
    %li
      = link_to 'Contact', home_path
  .footer-secondary-links
    %ul
      %li
        = link_to 'Terms and Conditions', home_path
      %li
        = link_to 'Privacy Policy', home_path
    
