%header.navigation
  .menu-wrapper
    = link_to image_tag("trellisd_small_logo.png"), user_home_path(current_user), class: "logo"
    %p.navigation-menu-button#js-mobile-menu MENU
    .nav
      %ul#navigation-menu
        %li.nav-link
          = link_to "Profile", user_path(current_user)
        %li.nav-link
          = link_to "Users", users_path
        %li.nav-link
          = link_to "Posts", posts_path
        %li.nav-link
          = link_to "Connections", connections_path
        %li.nav-link
          = link_to "Messages", messages_path
        %li.nav-link
          = link_to "Settings", user_settings_path(current_user)
    .navigation-tools
      = display_session_control_links