!!! 5
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title
      = (yield(:title).empty? ? 'Trellisd' : yield(:title) )
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:trellisd', content: 'trellisd.herokuapp.com'}
    %meta{property: 'fb:app_id', content: 'ENV["TRELLISD_FB_APP_ID"]'}
  %body
    .wrapper-for-content-outside-of-footer
      #application_main
        = render "layouts/navbar"
        .push_header
        #application_content
          %aside
            = render "users/aside"
          #main
            %p.notice
              = notice
            %p.alert
              = alert
            = yield
      .push
    = render "layouts/footer"