!!! 5
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title
      = yield(:title).empty? ? 'trellisd' : yield(:title)
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:site_name', content: 'trellisd'}
    = yield(:dynamic_fb_meta).empty? ? '' : yield(:dynamic_fb_meta)

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=543101752465568&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .wrapper-for-content-outside-of-footer
      #application_main
        = render "layouts/navbar"
        .push_header
        #application_content
          %aside
            = render "users/aside"
          #main
            %p.notice
              = notice
            %p.alert
              = alert
            = yield
      .push
    = render "layouts/footer"