!!! 5
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title
      = yield(:title).empty? ? 'Trellisd' : yield(:title)
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:site_name', content: 'trellisd'}
    %meta{property: 'og:image', content: "#{Rails.root}" + image_path('trellisd-for-facebook-300.png')}
  %body
    .wrapper-for-content-outside-of-footer
      #session_wrapper
        #session_control_links
          %span
            = display_session_control_links
        #session_control_content
          #left_column
            = render partial: 'icon_partials/trellisd_icon', locals: {size: '400px'}
          #right_column
            %p.notice
              = notice
            %p.alert
              = alert
            = yield
      .push
    = render "layouts/footer"
