!!! 5
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title Trellisd
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper-for-content-outside-of-footer
      #session_wrapper
        #session_control_links
          %span
            = display_session_control_links
        #session_control_content
          #left_column
            = render partial: 'icon_partials/trellisd_icon', locals: {size: '400px', fill: '#CF0563', stroke: '#E6FFFF'}
          #right_column
            %p.notice
              = notice
            %p.alert
              = alert
            = yield
      .push
    = render "layouts/footer"
