!!! 5
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title Trellisd
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
  %body
    .wrapper-for-content-outside-of-footer
      #application_main
        = render 'layouts/navbar'
        .push_header
        #posts_index_content
          %p.notice
            = notice
          %p.alert
            = alert
          #categories_bar
            = render 'posts/categories_bar'
          #posts_index
            = yield
      .push
    = render 'layouts/footer'